/* Styling for parent widget */
#mainBody{
	background-color: #E6A8D0;
}

/* Styling for the widget */
#widgetBody{
	background-color: #FFE6CC; /* Light Orange */
	/* background-color: #E85D22; */ /* Dark Orange */
}
.option{
	background-color: #E85D22;
	display: block;
	border-radius: 12px;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	margin: 5px;
	color: #FFF;
	padding: 5px;
}
#totalVotes{
	margin: auto;
}
#timeLeft{
	margin: auto;
}
h1, h2, h3, h4{
	font-weight: bold;
	color: #000; 
}
/* Results on the 2nd and 3rd States */
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
table{
	width: 50px;
	height: 50px;
	border-radius: 6px;
}
table th{ 
  background-color: #E85D22;
}
table tr {
  background-color: #FFF;
}
